@model IEnumerable<CheckMyCode.Web.Areas.Projects.Models.ListProjectsViewModel>
@if (Model.Count() == 0)
{
    <div class="row text-center">
        <div class="col-lg-6">
            <h4>No Projects</h4>
        </div>
    </div>
}
@foreach (var project in Model)
{
    <div class="row">
        <div class="col-lg-2">
            @Html.ActionLink(@project.Name, "Index", "Project", new { Area = "Projects", id = project.Id }, new { })
        </div>
        <div class="col-lg-2">
            @project.Language
        </div>
        <div class="col-lg-2">
            @project.OwnerUserName
        </div>
    </div>
}
