@model IEnumerable<CheckMyCode.Web.ViewModels.Projects.ListProjectsViewModel>
@{
    ViewBag.Title = "List of  Projects";
}
@foreach (var project in Model)
{
    <div class="row">
        @project.Name
        @project.OwnerUserName
        @project.Language
    </div>
}


