@model CheckMyCode.Web.Areas.Projects.Models.CommentViewModel
<div class="row">
    <div class="col-md-8" style="word-wrap:break-word">@Model.Text</div>
    <div class="col-md-2">
        <em>@Model.AuthorName</em>
    </div>
</div>
<hr/>
